name: Build and Push image to GHCR

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}     # TODO!!!

      - name: Build and push
        run: |
          OWNER_LC="$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')"
          IMAGE="ghcr.io/${OWNER_LC}/kubernetes-demo-java-api"
          TAG="$(date -u +%Y%m%d%H%M%S)-${GITHUB_SHA::7}"

          docker buildx build \
            -t "${IMAGE}:${TAG}" \
            -t "${IMAGE}:latest" \
            --push \
            .
